body {
    font-family: var(--font-family);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text-color);
    background-color: var(--neutral-white);
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

*{
    box-sizing: border-box;
    margin: 0;
}

ul{
    list-style: none;
    padding-left: 0px;
    margin: 0;
}

input{
    font-size: var(--font-family);
    background: var(--light-black);
    color: var(--neutral-white);
}

::placeholder{
    font-size: var(--font-family);
}

.container{
    width: 1300px;
}

.selected{
    border: solid 2px var(--primary);
}